<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>gerenciamento</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletLogin</display-name>
    <servlet-name>servletLogin</servlet-name>
    <servlet-class>Servlet.servletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletLogin</servlet-name>
    <url-pattern>/servletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_cadastro_e_atualizacao_usuario</display-name>
    <servlet-name>servlet_cadastro_e_atualizacao_usuario</servlet-name>
    <servlet-class>Servlet.servlet_cadastro_e_atualizacao_usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_cadastro_e_atualizacao_usuario</servlet-name>
    <url-pattern>/servlet_cadastro_e_atualizacao_usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_cadastro_e_atualizacao_produtos</display-name>
    <servlet-name>servlet_cadastro_e_atualizacao_produtos</servlet-name>
    <servlet-class>Servlet.servlet_cadastro_e_atualizacao_produtos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_cadastro_e_atualizacao_produtos</servlet-name>
    <url-pattern>/servlet_cadastro_e_atualizacao_produtos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_cadastro_e_atualizacao_produto</display-name>
    <servlet-name>servlet_cadastro_e_atualizacao_produto</servlet-name>
    <servlet-class>Servlet.servlet_cadastro_e_atualizacao_produto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_cadastro_e_atualizacao_produto</servlet-name>
    <url-pattern>/servlet_cadastro_e_atualizacao_produto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_produtos</display-name>
    <servlet-name>servlet_produtos</servlet-name>
    <servlet-class>Servlet.servlet_produtos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_produtos</servlet-name>
    <url-pattern>/servlet_produtos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_recuperacao_login</display-name>
    <servlet-name>servlet_recuperacao_login</servlet-name>
    <servlet-class>Servlet.servlet_recuperacao_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_recuperacao_login</servlet-name>
    <url-pattern>/servlet_recuperacao_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletFornecimento</display-name>
    <servlet-name>servletFornecimento</servlet-name>
    <servlet-class>Servlet.servletFornecimento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletFornecimento</servlet-name>
    <url-pattern>/servletFornecimento</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>doFilter</display-name>
    <filter-name>doFilter</filter-name>
    <filter-class>filter.doFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>doFilter</filter-name>
    <url-pattern>/doFilter</url-pattern>
  </filter-mapping>
</web-app>